<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Liste des annonces{% endblock %}</title>
    </head>
    <body>
        <h1>Liste des annonces</h1><br>
        {% for items in listeannonces %}
            <li>{{ items.titre }} - {{ items.auteur }}</li>
        {% endfor %}
        <a href="http://"><button>Ajouter une annonce</button></a>
    </body>
</html>
