<a href="{{ path('bienvenueAvecNom', {'nom' : 'Pierre'}) }}">Bienvenue Pierre</a>
<a href="{{ path('bienvenueAvecNom', {'nom' : 'Victor'}) }}">Bienvenue Victor</a>
<a href="{{ path('bienvenueAvecNom', {'nom' : 'Isabelle'}) }}">Bienvenue Isabelle</a>
<a href="{{ path('bienvenueAvecNom', {'nom' : 'Félix'}) }}">Bienvenue Félix</a>