<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Page test{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            {% set texteBoucle = 'Un tour de boucle effectué' %}

            {% apply upper %}
                ce texte est converti en majuscules
            {% endapply %}
            <br>
            {% for i in range(low = 0, high = 5, step = 1) %}
                {{ i }} {{ texteBoucle }} <br>
            {% endfor %}
        {% endblock %}
    </body>
</html>
